<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1">
    <title>Продажа квартир</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script-apartments.js" defer></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Логотип"></a>
    </div>
    <nav>
        <a href="/">Главная</a>
        <a href="cottages">Строительство коттеджей</a>
        <a href="apartments">Продажа квартир</a>
        <a href="contact">Связаться</a>
        <a href="admin">Войти</a>
    </nav>
</header>

<main>
    <h2>Квартиры в продаже</h2>

    <form id="filter-apartments">
        <label for="house">Дом:</label>
        <select id="house" name="house">
        </select>

        <label for="floor">Этаж:</label>
        <input type="number" id="floor" name="floor" placeholder="Номер этажа">

        <label for="rooms">Количество комнат:</label>
        <input type="number" id="rooms" name="rooms" placeholder="Кол-во комнат">

        <label for="area">Площадь:</label>
        <input type="number" id="area" name="area" placeholder="Площадь в m²">

        <label for="price-range">Цена:</label>
        <input type="number" id="price-min" name="price-min" placeholder="Минимальная цена">
        <input type="number" id="price-max" name="price-max" placeholder="Максимальная цена">

        <button type="submit" class="button-submit">Найти</button>
    </form>

    <section id="available-apartments">
        <div class="property-grid"></div>
    </section>
</main>

<footer>
    <p>&copy; 2024 ОАО "МАПИД"</p>
</footer>
</body>
</html>
