<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script-contact.js"></script>
    <title>МАПИД Недвижимость</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Логотип"></a>
    </div>
    <nav>
        <a href="#">Главная</a>
        <a href="cottages">Строительство коттеджей</a>
        <a href="apartments">Продажа квартир</a>
        <a href="contact">Связаться</a>
        <a href="admin">Войти</a>
    </nav>
</header>

<div class="hero">
    <div class="overlay">
        <p>Жилье вашей мечты</p>
    </div>
</div>
<div class="container">
    <div class="stat">
        <img src="/images/cube.png" alt="Housing">
        <div class="number">28,365,219</div>
        <div class="label">Квадратных метров жилья</div>
    </div>
    <div class="stat">
        <img src="/images/people.png" alt="Employees">
        <div class="number">5,329</div>
        <div class="label">Сотрудников компании</div>
    </div>
    <div class="stat">
        <img src="/images/building.png" alt="Buildings">
        <div class="number">3,200</div>
        <div class="label">Объектов недвижимости</div>
    </div>
    <div class="stat">
        <img src="/images/global.png" alt="Partners">
        <div class="number">150</div>
        <div class="label">Глобальных партнеров</div>
    </div>
</div>

<!--<section id="contact-form">-->
<!--    <form id="contactForm">-->
<!--        <h2>Связаться</h2>-->
<!--        <label for="name">Имя:</label>-->
<!--        <input type="text" id="name" name="name" required>-->

<!--        <label for="email">Email:</label>-->
<!--        <input type="email" id="email" name="email" required>-->

<!--        <label for="message">Сообщение:</label>-->
<!--        <textarea id="message" name="message" required></textarea>-->

<!--        <button type="submit">Отправить</button>-->
<!--    </form>-->
<!--</section>-->
<footer class="footer">
    <p>&copy; 2024 ОАО "МАПИД"</p>
</footer>
</body>
</html>
